<h1>product</h1>
<h1>Productos</h1>
<div class=" ajustes header">
    <div class="article" role="group">
      <a href="?query=category:Chicken Giblets"><button type="button" class="navButton">Producto 1</button></a>
      <a href="?query=category:Oil - Sesame"><button type="button" class="navButton">Producto 2</button></a>
      <a href="?query=category:Beef Dry Aged Tenderloin Aaa"><button type="button" class="navButton">Producto
          3</button></a>
      <a href=""><button type="button" class="navButton">Profile</button></a>
      <a href="?sort=asc"><button type="button" class="navButton">Ordenar ⬆️</button></a>
      <a href="?sort=desc"><button type="button" class="navButton">Ordenar ⬇️</button></a>

    </div>

 
<div class="container" id="container">

  {{#each products}}
    <div class="cardIt cardItAjust" id={{this.id}}>
      <div>
        <img  src={{this.thumbnail}} alt={{this.title}} />
        <h5 >{{this.title}}</h5>
        <div >
          <p >{{this.description}}</p>
          <p >Categoría: {{this.category}}</p>
          <p>Código: {{this.code}}</p>
          <p >Stock: {{this.stock}}</p>
          <p >Precio: ${{this.price}}</p>
        </div>
      </div>
      <div>
        <button
        href="#" class=" addButton" id={{this._id}} onclick="addToCart('{{this.id}}')"
          
        >Agregar al carrito</button></div>
    </div>
  {{/each}}
</div>
<div class="paginationPanel">
  {{#if hasPrevPage}}
    <a href="/products/?page={{prevPage}}"><button
        class="paginate"
      >Anterior</button></a>
  {{/if}}

  <h4 class="page">{{page}}</h4>

  {{#if hasNextPage}}
    <a href="/products/?page={{nextPage}}"><button
        class="paginate"
      >Siguiente</button></a>
  {{/if}}
</div>
 </div>

<script src="/js/products.js"></script>